.ct-channel-detail-theme {
    display: grid;
    grid-template-columns: 250px minmax(0, 1fr);
    gap: 32px;

    &__preview-button {
        width: 250px;
        padding: 0;
        border: 0;
        background: transparent;
        text-align: initial;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__info {
        display: grid;
        grid-template-rows: minmax(132px, auto) auto;
        align-items: baseline;
        min-width: 0;
    }

    &__info-name,
    &__info-description-title {
        font-weight: 600;
    }

    &__info-name {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__info-pending {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
    }

    &__info-author,
    &__info-name,
    &__info-description {
        font-size: 14px;
    }

    &__info-name.is--empty,
    &__info-author {
        color: var(--color-text-secondary-default);
    }

    &__info-description {
        margin: 12px 0;
    }

    &__info-actions {
        display: flex;
        align-self: end;
        gap: 8px;
    }
}

@media (max-width: 900px) {
    .ct-channel-detail-theme {
        grid-template-columns: 1fr;

        &__preview-button {
            width: 100%;
            max-width: 250px;
        }
    }
}
