/*
Custom variables
==================================================
Contains custom non bootstrap variables.

@ct-package framework
*/

$disabled-btn-bg: #eee !default;
$disabled-btn-border-color: #eee !default;

$cms-block-text-hero-hr-color: #e9edf0 !default;
$cms-element-text-quotes-color: #9aa7be !default;
$font-weight-semibold: 600 !default;
