/*
Breadcrumb
==============================================
Custom skin styling for bootstrap breadcrumb component.

https://getbootstrap.com/docs/5.2/components/breadcrumb
*/

.breadcrumb {
    .breadcrumb-item + .breadcrumb-item:before {
        line-height: 24px;
        padding-top: 3px;
    }

    a {
        color: $body-color;
        font-size: $font-size-base;

        &:hover {
            color: $ct-color-brand-primary;
            text-decoration: none;
        }

        &.is-active {
            color: $ct-color-brand-primary;
            font-weight: $font-weight-bolder;
        }
    }
}
