.ct-blog-listing {
    width: 100%;
}

.ct-blog-listing__grid {
    .ct-grid-container__inner {
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &.is--layout-transition {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}

.ct-blog-listing__actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    gap: var(--spacer-sm);
    margin-bottom: var(--spacer-sm);
}
