.ct-blog-listing__grid {
    .ct-grid-container-inner {
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &.is--layout-transition {
            opacity: 0;
            transform: translateY(10px);
        }
    }
}
