.ct-flyout {
    --ct-flyout-border-color: var(--bs-gray-300);
    --ct-flyout-border-width: 1px ;
    --ct-flyout-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    --ct-flyout-z-index: 1000;
    left: 0;
    right: 0;
    min-height: 120px;
    border-bottom: var(--ct-flyout-border-width) solid var(--ct-flyout-border-color);
    box-shadow: var(--ct-flyout-shadow);
    pointer-events: none;
    z-index: var(--ct-flyout-z-index);

    // Flyout animation
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.ct-flyout__show-all {
    .ct-icon {
        color: currentColor;
    }
}

.ct-flyout__categories-container {
    transition: all 0.25s ease-in-out;
    transform: translateY(-16px);
    opacity: 0;
}

.ct-flyout__backdrop {
    --bs-backdrop-zindex: 999;
    opacity: 0;
    pointer-events: none;
    top: initial;
    transition: all 0.25s ease-in-out;
}
